<html>
  <head>
    <title>Contatos</title>
    <link href="contatos.component.css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <header>
        <img id="petmania" src="../imgs/twitter_header_photo_1.png" />
        <nav>
          <ul>
            <li><a href="../home/home.component.html">Home</a></li>
            <li>
              <a href="../novo-produto/novo-produto.component.html">
                Novo produto
              </a>
            </li>
            <li>
              <a href="../lista-de-produtos/lista-de-produtos.component.html"
                >Lista de produtos</a
              >
            </li>
            <li><a href="../contatos/contatos.component.html">Contatos</a></li>
            <li><a href="../sobre/sobre.component.html">Sobre</a></li>
          </ul>
        </nav>
      </header>
      <div id="img">
        <img id="pet" src="../imgs/petshops.jpg" />
      </div>
      <div id="items">
        <div id="contatos">
          <h1>Contate-nos</h1>
          <p>E-mail: petmania@outlook.com</p>
          <p>Whatsapp: (11) 98675-2398</p>
          <p>Telefone: (11) 4677-3028</p>
        </div>
        <div id="enderecos">
          <h1>Venha até nosso petshop</h1>
          <p>Rua dos Palmares</p>
          <p>Número 67</p>
          <p>São Paulo - SP</p>
        </div>
      </div>
    </div>
  </body>
</html>
