<title>List de produtos</title>
<link href="lista-de-produtos.component.css" rel="stylesheet" />

<div id="container">
  <header>
    <img id="petmania" src="../imgs/twitter_header_photo_1.png" />
    <nav>
      <ul>
        <li><a href="../home/home.component.html">Home</a></li>
        <li>
          <a href="../novo-produto/novo-produto.component.html">
            Novo produto
          </a>
        </li>
        <li>
          <a href="../lista-de-produtos/lista-de-produtos.component.html"
            >Lista de produtos</a
          >
        </li>
        <li><a href="../contatos/contatos.component.html">Contatos</a></li>
        <li><a href="../sobre/sobre.component.html">Sobre</a></li>
      </ul>
    </nav>
  </header>
  <div id="items">
    <h1>Lista de produtos já adicionados</h1>
    <app-produto *ngFor="let p of lista" [produto]="p"></app-produto>
  </div>
</div>
