<html>
  <head>
    <title>Novo Produto</title>
    <link href="novo-produto.component.css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <header>
        <img id="petmania" src="../imgs/twitter_header_photo_1.png" />
        <nav>
          <ul>
            <li><a href="../home/home.component.html">Home</a></li>
            <li>
              <a href="../novo-produto/novo-produto.component.html">
                Novo produto
              </a>
            </li>
            <li>
              <a href="../lista-de-produtos/lista-de-produtos.component.html"
                >Lista de produtos</a
              >
            </li>
            <li><a href="../contatos/contatos.component.html">Contatos</a></li>
            <li><a href="../sobre/sobre.component.html">Sobre</a></li>
          </ul>
        </nav>
      </header>
      <div id="items">
        <div id="formulario">
          <form [formGroup]="formProduto" (ngSubmit)="enviarProduto()">
            <label class="big">Novo produto:</label>
            <input
              class="big"
              type="text"
              formControlName="cod"
              placeholder="digite o codigo"
            />
            <input
              class="big"
              type="text"
              formControlName="desc"
              placeholder="digite a descricao"
            />
            <input
              class="big"
              type="text"
              formControlName="regAnvisa"
              placeholder="digite a registro da anvisa"
            />
            <label>
              <input type="checkbox" formControlName="controlado" />controlado
            </label>
            <input
              class="big"
              type="text"
              formControlName="codGrupo"
              placeholder="digite o codigo do Grupo"
            />
            <button>cadastrar</button>
          </form>
        </div>
        <img id="img" src="../imgs/stay-home.png" />
      </div>
    </div>
  </body>
</html>
