<html>
  <head>
    <title>Sobre</title>
    <link href="sobre.component.css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <header>
        <img id="petmania" src="../imgs/twitter_header_photo_1.png" />
        <nav>
          <ul>
            <li><a href="../home/home.component.html">Home</a></li>
            <li>
              <a href="../novo-produto/novo-produto.component.html">
                Novo produto
              </a>
            </li>
            <li>
              <a href="../lista-de-produtos/lista-de-produtos.component.html"
                >Lista de produtos</a
              >
            </li>
            <li><a href="../contatos/contatos.component.html">Contatos</a></li>
            <li><a href="../sobre/sobre.component.html">Sobre</a></li>
          </ul>
        </nav>
      </header>


      <main class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h1 class="pb-3 mb-4 mt-3 font-italic border-bottom">Tudo sobre nós</h1>
                <div class="blog-post">
                    <p>Somos uma empresa especializada em animais a PetshopMania.</p>
                    <hr class="featurette-divider">
                    <p class="justifies">Fundada em 1978 a PetshopMania se tornou referência em São Paulo. 
                        Foi a primeira loja a confeccionar itens e materiais especialmente para qualquer animal.
                        Desenvolvemos novos métodos de produção para melhorar a qualidade de nossos produtos.
                    </p>
                    <hr class="featurette-divider">
                    <h2>Nossos produtos e nossa História</h2>
                    <p class="justifies">A nossa loja reúne os mais diversos tipos de comida e brinquedos para animais, com
                        preços bastante honestos para atender todo o nosso público. Todas as nossas produtos são
                        confeccionadas por fornecedores bastante confiaveis, produzidas 100% de qualidade.
                    </p>
                    <hr class="featurette-divider">
                    <h2>Nossos Valores</h2>
                        <br>
                        <p class="justifies">Eficiência: Fazer sempre muito bem feito, com o melhor resultado.</p>
                        <br>
                        <p class="justifies">Inovação: Inovar hoje para ser melhor amanhã.</p>
                        <br>
                        <p class="justifies">Ética: Fazer o que é certo, de forma transparente e com honestidade, seja qual for a situação.</p>
                </div>
            </div>
            <aside class="col-md-4 blog-sidebar">
                <div class="p-3">
                    <h4 id="tittleSocial" class="font-italic">Redes sociais</h4>
                    <hr class="featurette-divider">
                    <ol class="list-unstyled ">
                        <li id="link-social"><a  href="#" target="_blank" class="fb-ic" type="button" data-toggle="modal" data-target="#modalExemplo"><img class="mr-2 mt-3" src="../../assets/about-images/facebook.png"
                                    width="30px" height="30px">Facebook</a></li>
                        <br>
                        <li id="link-social"><a href="https://www.instagram.com/corpredemandala/" target="_blank" class="ins-ic" ><img class="mr-2" src="../assets/about-images/instagram.png"
                                    width="30px" height="30px">Instagram</a></li>
                    </ol>
                </div>
                <div class="entry-crumbs">
                    <img src="../../assets/about-images/rede1.jpg" alt="Fabrica De Redes" width="350" height="230"
                        class="d-flex mt-4 circulo">
                    <img src="../../assets/about-images/rede2.jpg" alt="Fabrica De Redes" width="350" height="230"
                        class="mt-4 mb-4 circulo">
                </div>
            </aside>
        </div>
  </main>

      <div id="items">
        <div id="title">
          <h1>Projeto desenvolvido para projeto de APS</h1>
        </div>
        <div id="group-info">
          <div id="names">
            <p>Nomes:</p>
            <p>André Guedes de Sousa</p>
            <p>Bruna Tavares Licario</p>
            <p>Douglas Wenzler Santos</p>
            <p>Gabriel Stefanoni Viestel</p>
            <p>Paulo Gustavo Silva Oliveira</p>
          </div>
          <div id="rgm">
            <p>RAs:</p>
            <p>B9713J-5</p>
            <p>D1213H-2</p>
            <p>t5402f-2</p>
            <p>D0854B-4</p>
            <p>N11014-7</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
